<!DOCTYPE html>
<html>
<head>
  <title>CrewManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header class="primary">

  <% if current_user %>
    <h2 align = "center">
      <%= " The #{UsersHelper.adjective} #{current_user.username}!" %>
    </h2>
  <% else %>

  <% end %>

  <% if flash.now[:errors] %>
    <ul>
      <% flash.now[:errors].each do |error| %>
        <li> <%= error %> </li>
      <% end  %>
    </ul>
  <% end %>
</header>


<div class = "container">
  <%= yield %>
</div>


<footer>
    <div class="container">
      <div class = "row">
        </div>

        <% if current_user %>
          <%= button_to "Log Out", session_url, method: :delete,
                        style: "float:right", class: "logout"%>
        <% end %>
    </div>
</footer>


</body>
</html>
